body{
	margin: 0;
	font-size: 16px;
}

body p{
	opacity: 0.8;
}

.new-year{
	background-color: #1A5B35;
	position: relative;
	margin: 0;
}

.container{
	width: 65%;
	margin: 0 auto;
	padding-top: 120px;
	position: relative;
}


.content-p{
	text-align: center;
}

.content-wish{
	font-family: 'Montserrat';
	font-size: 1em;
	color: #FFFFFF;
	text-align: center;
}

.nav-logo{
	margin-top: 2em;
	padding-left: .6em;
	text-align: center;
}

.nav-music{
	width: 10%;
	height: 150px;
}


.muzic-logo{
	margin: 1em;
}

.flw-left{
	width:150px;
	position: absolute;
	top: 1em;
	left: 0;
}

.flw-right{
	width: 150px;
	position: absolute;
	top: 0;
	right: 0;
}

.flw-bottom{
	position: absolute;
	bottom: 0;
	left: 0;
}

.flw-center img{
	width: 16%;
}

.flw-center{
	font-family: 'Montserrat';
	padding-left: 12%;
	font-size: 1.1em;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: -50px;
}

.music-text{
	font-family: 'Montserrat';
	font-size: .7em;
	color: #FFFFFF;
	text-align: right;
	margin-right: 1.3em;
}

.clock{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 1.1em;
	text-align: center;
	color: #FFFFFF;
}

.nav-antenn{
	display: flex;
	justify-content: space-between;
	padding: .9em;
}

@media (min-width: 576px) {
	.music-text{
		display:none;
	}

	.nav-antenn{
		display: none;
	}

}

@media (max-width: 576px) {
	.flw-right{
		display: none;

	}
	.flw-bottom{
		display: none;
	}

	.muzic-logo{
		display: none;
	}

	.content-wish{
		font-size: .9em;
	}

	.container{
		padding-top: 0;
		width:89%;
	}

	.flw-center img, .flw-right, .flw-left{
		width:16%;
	}
}
